<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="hu.bme.mit.massif.simulink.api.import.filters">
      <filter
            filterId="hu.bme.mit.massif.examples.filter.maskfilterid"
            filterImplClass="hu.bme.mit.massif.examples.filter.MaskFilter">
      </filter>
   </extension>

</plugin>
