<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="hu.bme.mit.massif.matlab.connectors">
   	  <connector
            factory="hu.bme.mit.massif.communication.matlabcontrol.MatlabControlEvaluatorFactory"
            id="massif.connectors.matlab.control">
      </connector>
   </extension>

</plugin>
