<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.transima.models.simulink.validation.SimulinkValidation" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.transima.models.simulink.validation.SimulinkValidation" id="hu.bme.mit.transima.models.simulink.validation.SimulinkValidation"/>
  </extension>
  <extension id="hu.bme.mit.transima.models.simulink.util.SimulinkUtilities" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.transima.models.simulink.util.SimulinkUtilities" id="hu.bme.mit.transima.models.simulink.util.SimulinkUtilities"/>
  </extension>
  <extension id="hu.bme.mit.transima.models.simulink.viewer.SimulinkViewer" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.transima.models.simulink.viewer.SimulinkViewer" id="hu.bme.mit.transima.models.simulink.viewer.SimulinkViewer"/>
  </extension>
  <extension id="hu.bme.mit.transima.models.simulink.derived.DerivedFeatures" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.transima.models.simulink.derived.DerivedFeatures" id="hu.bme.mit.transima.models.simulink.derived.DerivedFeatures"/>
  </extension>
  <extension id="extension.derived.hu.bme.mit.transima.models.simulink.derived.sourceBlock" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="Block" feature-name="sourceBlock" package-nsUri="http://hu.bme.mit.transima/simulink/1.0"/>
  </extension>
  <extension id="extension.derived.hu.bme.mit.transima.models.simulink.derived.referencedModel" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="ModelReference" feature-name="referencedModel" package-nsUri="http://hu.bme.mit.transima/simulink/1.0"/>
  </extension>
  <extension id="extension.derived.hu.bme.mit.transima.models.simulink.derived.enabler" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="Block" feature-name="enabler" package-nsUri="http://hu.bme.mit.transima/simulink/1.0"/>
  </extension>
  <extension id="extension.derived.hu.bme.mit.transima.models.simulink.derived.name" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="SimulinkElement" feature-name="name" package-nsUri="http://hu.bme.mit.transima/simulink/1.0"/>
  </extension>
  <extension id="extension.derived.hu.bme.mit.transima.models.simulink.derived.inports" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="Block" feature-name="inports" package-nsUri="http://hu.bme.mit.transima/simulink/1.0"/>
  </extension>
  <extension id="extension.derived.hu.bme.mit.transima.models.simulink.derived.trigger" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="Block" feature-name="trigger" package-nsUri="http://hu.bme.mit.transima/simulink/1.0"/>
  </extension>
  <extension id="extension.derived.hu.bme.mit.transima.models.simulink.derived.outports" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="Block" feature-name="outports" package-nsUri="http://hu.bme.mit.transima/simulink/1.0"/>
  </extension>
</plugin>
