/.ClashingChildNamesProcessor.java._trace
/.ClashingChildNamesQuerySpecification.java._trace
/.IdentifierNameContainsSlashProcessor.java._trace
/.IdentifierNameContainsSlashQuerySpecification.java._trace
