<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated simulink -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="hu.bme.mit.massif.simulink.presentation.SimulinkModelWizardID"
            name="%_UI_SimulinkModelWizard_label"
            class="hu.bme.mit.massif.simulink.presentation.SimulinkModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SimulinkModelFile.gif">
         <description>%_UI_SimulinkModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated simulink -->
      <editor
            id="hu.bme.mit.massif.simulink.presentation.SimulinkEditorID"
            name="%_UI_SimulinkEditor_label"
            icon="icons/full/obj16/SimulinkModelFile.gif"
            extensions="simulink"
            class="hu.bme.mit.massif.simulink.presentation.SimulinkEditor"
            contributorClass="hu.bme.mit.massif.simulink.presentation.SimulinkActionBarContributor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="hu.bme.mit.massif.simulink.presentation.handlers.ResetQualifierHandler"
            id="hu.bme.mit.massif.simulink.editor.resetqualifier"
            name="Reset qualifier on children">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:hu.bme.mit.massif.simulink.presentation.SimulinkEditorID?before=additions">
         <command
               commandId="hu.bme.mit.massif.simulink.editor.resetqualifier"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hu.bme.mit.massif.simulink.elementdef">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="hu.bme.mit.massif.simulink.elementdef">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="hu.bme.mit.massif.simulink.SimulinkElement">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
</plugin>
