<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="hu.bme.mit.massif.simulink.importer.ui.handlers.ExportModelHandler"
            id="hu.bme.mit.massif.simulink.importer.ui.export"
            name="Export Simulink model">
      </command>
      <command
            defaultHandler="hu.bme.mit.massif.simulink.importer.ui.handlers.ImportModelHandler"
            id="hu.bme.mit.massif.simulink.importer.ui.import"
            name="Import Simulink model">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="hu.bme.mit.massif.simulink.importer.ui.import"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hu.bme.mit.massif.simulink.importer.ui.simulinkfiledef">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="hu.bme.mit.massif.simulink.importer.ui.export"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hu.bme.mit.massif.simulink.importer.ui.importedsimulinkfiledef">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="hu.bme.mit.massif.simulink.importer.ui.simulinkfiledef">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
                  <or>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.mdl">
                        </test>
                     </adapt>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.slx">
                        </test>
                     </adapt>
                  </or>
            </iterate>
         </with>
      </definition>
      <definition
            id="hu.bme.mit.massif.simulink.importer.ui.importedsimulinkfiledef">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.simulink">
                  </test>
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="hu.bme.mit.massif.simulink.importer.ui.preferences.SimulinkPreferencePage"
            id="hu.bme.mit.massif.simulink.importer.ui.preferences.SimulinkPreferencePage"
            name="Simulink Preferences">
      </page>
      <page
            category="hu.bme.mit.massif.simulink.importer.ui.preferences.SimulinkPreferencePage"
            class="hu.bme.mit.massif.simulink.importer.ui.preferences.ImporterPreferencePage"
            id="hu.bme.mit.massif.simulink.importer.ui.importer.id"
            name="Model Import Preferences">
      </page>
      <page
            category="hu.bme.mit.massif.simulink.importer.ui.preferences.SimulinkPreferencePage"
            class="hu.bme.mit.massif.simulink.importer.ui.preferences.ExporterPreferencePage"
            id="hu.bme.mit.massif.simulink.importer.ui.exporter.id"
            name="Model Export Preferences">
      </page>
   </extension>
   <extension
         name="Simulink API Preferences"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="hu.bme.mit.massif.simulink.importer.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
