<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="hu.bme.mit.massif.simulink.api.import.filters">
      <blockfilter
            blockFilterId="famfilter"
            blockFilterImplClass="hu.bme.mit.massif.simulink.filters.FAMLeafFilter">
      </blockfilter>
      <blockfilter
            blockFilterId="library"
            blockFilterImplClass="hu.bme.mit.massif.simulink.filters.LibraryFilter">
      </blockfilter>
      <parameterfilter
            parameterFilterId="hu.bme.mit.massif.simulink.filters.ignoreall"
            parameterFilterImplClass="hu.bme.mit.massif.simulink.filters.IgnoreAllParametersFilter">
      </parameterfilter>
      <parameterfilter
            parameterFilterId="hu.bme.mit.massif.simulink.filters.readonly"
            parameterFilterImplClass="hu.bme.mit.massif.simulink.filters.ReadOnlyParametersFilter">
      </parameterfilter>
   </extension>
</plugin>
