<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="validation.constraint.hu.bme.mit.transima.models.simulink.validation.identifierNameContainsSlash" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="hu.bme.mit.transima.models.simulink.validation.IdentifierNameContainsSlashConstraint0" name="hu.bme.mit.transima.models.simulink.validation.identifierNameContainsSlash">
      <enabledForEditor editorId="hu.bme.mit.transima.simulink.ui.editor1"/>
      <enabledForEditor editorId="hu.bme.mit.transima.Simulink.presentation.SimulinkEditorID"/>
    </constraint>
  </extension>
  <extension id="validation.constraint.hu.bme.mit.transima.models.simulink.validation.clashingChildNames" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="hu.bme.mit.transima.models.simulink.validation.ClashingChildNamesConstraint0" name="hu.bme.mit.transima.models.simulink.validation.clashingChildNames">
      <enabledForEditor editorId="hu.bme.mit.transima.simulink.ui.editor1"/>
      <enabledForEditor editorId="hu.bme.mit.transima.Simulink.presentation.SimulinkEditorID"/>
    </constraint>
  </extension>
</plugin>
